/* styles for the container, sidebar, and main content */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: sticky; /* keeps sidebar fixed in place while scrolling */
    width: 50%;
    height: 750px;
    overflow: hidden;
}

.main-content {
    width: 40%;
    padding: 30px;
    overflow: auto;
    height: 100%;
}

/*styles for the iframe */
iframe {
    width: 100%;
    height: 100%;
}

.navbar {
    color: white; /* sets the text color of the buttons */
    display: flex; /* sets the navbar to be a flex container */
    justify-content: center; /* positions the buttons with equal space between them */
    padding: 10px;
}

.navbar a {
    border: 1px solid rgb(21, 75, 155); /* adds a 1px solid white border */
    border-radius: 20px; /* rounds the corners of the button with 20px radius */
    background-color: rgba(58, 129, 235,0.6); /* adds background color with transparency */
    padding: 10px 20px; /* adds some padding around the text inside the button */   
    color: white; /* sets the text color of the buttons */
    text-decoration: none; /* removes the underline from the links */
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: rgb(40, 90, 166);
}

